@import url(https://fonts.googleapis.com/css?family=Roboto:300italic);

ul.nav {
  width: 465px;
  margin: 0 auto;
  padding-top: 25px;
  -webkit-animation-duration: 2s;
  /*-webkit-animation-delay: 2s;*/
}

.nav > li {
  list-style: none;
  display: inline;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: gray;
  padding: 25px;
}

.nav > li:link, .nav > li:visited,.nav > li:active{
  text-decoration: none;
  color: gray;
  padding: 25px;
}
.nav > li:hover {
  color: #EC1561;
}

/*form styles*/
input[type='text']:focus{
    outline:none;
}
textarea[type='text']:focus{
    outline:none;
}

.content-form {
  width: 287px;
  margin: 0 auto;
}
.contact-form textarea {
  height: 7.9em;
  padding-top: 10px;
  margin-top: 8px;
}

.contact-form .label {
  color: #9DA1A5;
  -webkit-animation-duration: 2s;
}

#contactForm {
  position: absolute;
  z-index: -999;
  font-family: "Roboto",sans-serif;
  width: 326px;
  margin: auto -19px;
  top: 112px;
  height: 255px;
}


.contact-form{
  position: absolute;
  z-index: 999;
  font-family: 'Roboto', sans-serif;
  width: 321px;
  top: 104px;
}

.contact-input {
  padding-left: 10px;
  color: #666;
  font-family: "Roboto",sans-serif;
  font-size: 1em;
  height: 28px;
  width: 275px;
  border: 1px solid transparent;
  margin-bottom: 20px;
  margin-top: 4px;
}

#send {
  float: right;
  padding-right: 30px;
  color: gray;
  -webkit-animation-duration: 2s;
}

.thanks-wrapper {
  width: 287px;
  margin: 0 auto;
  margin-top: 100px;
}
#thanks {
  width: 287px;
  height: 139px;
}
.thanks-wrapper button {
  float: right;
  color: #EC1561;
  margin-right: 32px;
  background-color: #fff;
  border: none;
  font-size: 1em;
}

svg * {
  fill: none;
  stroke: currentColor;}
 
#mySVG * {
  fill-opacity: 0;
  transition: fill-opacity 1s;
}

#mySVG.finished * {
  fill-opacity: 1;
}

#me{
  display: block;
  margin: 0 auto;
  width: 300px; height: 300px;
  padding: 0px;
  margin-top: 100px}

.content {
  max-width: 767px;
  margin: 0 auto;
}
.col-3 {
  float: left;
}
.col-3 svg {
  display: block;
  margin: 0 auto;
}

/*animation code*/

@-webkit-keyframes EASI-IN {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes EASI-IN {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes EASI-IN {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes EASI-IN {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.quote, .android {
  -webkit-animation: EASI-IN 5s; /* Safari 4+ */
  -moz-animation:    EASI-IN 5s; /* Fx 5+ */
  -o-animation:      EASI-IN 5s; /* Opera 12+ */
  animation:         EASI-IN 5s; /* IE 10+, Fx 29+ */
}

.quote {
  color: #727272;
  width: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  padding-top: 30px;
}

.android {
  color: #E91E63;
}

.disappearing {
  color: white;
}

.white {
  color: white;
}
.gray {
  color: #9E9E9E;
}

.red {color: #FF5252;}
.yellow {color: #FFC107;}
.green {color: #4CAF50;}

/*Media queries*/

@media (max-width: 767px) {
  #me{ width: 100%; max-height: 300px; }
}
@media (min-width: 481px) and (max-width: 767px) {
  #me{ width: 100%; margin: 0 auto;}
}
@media (max-width: 480px) {
  .col-3 { width: 100%; margin: 0 auto; }
  #me {margin-top: 40px}
  .quote {width: 300px; text-align: center; padding-top: 30px; font-size: 1.4em;}
}

