@import url(https://fonts.googleapis.com/css?family=Roboto:300italic);

body {
  font-family: 'Roboto', sans-serif;
}
a {
  color: #EC1561;
  text-decoration: none;
}

#iaminaki {
  height: 70px;
  width: 100%;
  stroke-width: 3px;
}

#shootMessage {
  height: 70px;
  width: 100%;
  stroke-width: 3px;
}

.emphasis {
  font-weight: bolder;
  color: gray;
}

/*navbar style code*/

.slicknav_menu {
  display:none;
}

ul.nav {
  width: 350px;
  margin: 0 auto;
  padding-top: 25px;
  -webkit-animation-duration: 2s;
  /*-webkit-animation-delay: 2s;*/
}

.nav > li {
  list-style: none;
  display: inline;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #EC1561;
  padding: 25px;
}

.nav > li:link, .nav > li:visited,.nav > li:active{
  text-decoration: none;
  color: #EC1561;
  padding: 25px;
}
.nav > li > a:hover {
  color: pink;
}

/*form styles*/
input[type='text']:focus{
    outline:none;
}
textarea[type='text']:focus{
    outline:none;
}

.content-form {
  width: 287px;
  margin: 30px auto;
}
.contact-form textarea {
  height: 7.9em;
  padding-top: 10px;
  margin-top: 8px;
}

.contact-form .label {
  color: #9DA1A5;
  -webkit-animation-duration: 2s;
}

#contactForm {
  position: absolute;
  z-index: -999;
  font-family: "Roboto",sans-serif;
  width: 326px;
  margin: auto -19px;
  top: 152px;
  height: 255px;
}


.contact-form{
  position: absolute;
  z-index: 999;
  font-family: 'Roboto', sans-serif;
  width: 321px;
  top: 144px;
}

.contact-input {
  padding-left: 10px;
  color: #666;
  font-family: "Roboto",sans-serif;
  font-size: 1em;
  height: 28px;
  width: 275px;
  border: 1px solid transparent;
  margin-bottom: 20px;
  margin-top: 4px;
  background: transparent;
}

#send {
  float: right;
  padding-right: 30px;
  color: gray;
  -webkit-animation-duration: 2s;
}

.thanks-wrapper {
  width: 287px;
  margin: 0 auto;
  margin-top: 100px;
}
#thanks {
  width: 287px;
  height: 139px;
}
.thanks-wrapper button {
  float: right;
  color: #EC1561;
  margin-right: 32px;
  background-color: #fff;
  border: none;
  font-size: 1em;
}

svg * {
  fill: none;
  stroke: currentColor;}
 
#mySVG * {
  fill-opacity: 0;
  transition: fill-opacity 1s;
}

#mySVG.finished * {
  fill-opacity: 1;
}

#me{
  display: block;
  margin: 0 auto;
  width: 300px; height: 300px;
  padding: 0px;
  margin-top: 100px}

.content {
  max-width: 767px;
  margin: 0 auto;
}
.col-3 {
  float: left;
}
.col-3 svg {
  display: block;
  margin: 0 auto;
}

/*animation code*/

@-webkit-keyframes EASI-IN {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes EASI-IN {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes EASI-IN {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes EASI-IN {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.quote{
  -webkit-animation: EASI-IN 5s; /* Safari 4+ */
  -moz-animation:    EASI-IN 5s; /* Fx 5+ */
  -o-animation:      EASI-IN 5s; /* Opera 12+ */
  animation:         EASI-IN 5s; /* IE 10+, Fx 29+ */
}

.quote {
  color: silver;
  width: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  padding-top: 30px;
  line-height: 156%;
}

.disappearing {
  color: white;
}

.white {
  color: white;
}
.gray {
  color: #9E9E9E;
}

.red {color: #FF5252;}
.yellow {color: #FFC107;}
.green {color: #4CAF50;}

/*Media queries*/

@media (max-width: 767px) {
  #me{ width: 100%; max-height: 300px; }
}
@media (min-width: 481px) and (max-width: 767px) {
  #me{ width: 100%; margin: 0 auto;}
}
@media (max-width: 480px) {
  .col-3 { width: 100%; margin: 0 auto; }
  #me {margin-top: 40px}
  .quote {width: 300px; text-align: center; padding-top: 30px; font-size: 1.4em;}
}



/*Resume styles*/
.title {
  margin-top: 50px;
  width: 100%;
  clear: both;
}
.yo {
  width: 150px;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
  -webkit-animation-duration: 2s;
}
.resume-content {
  margin-top: 25px;
  max-width: 500px; 
  float: left;
  padding-right: 15px;
  -webkit-animation-duration: 2s;
}
.side-content {
  padding: 25px;
  width: 200px;
  float: right;
}
.side-content ul{
  list-style: none;
}
.side-content ul > li{
  display: inline;
  width: 50px;
}
.side-content > ul:nth-child(2) > li:nth-child(2) > svg:nth-child(1){
  height: 70px;
  width: 56px;
}
.gray{
  height: 70px;
  width: 56px;
}
.right {
  float: right;
}
.skill {
  background-color: white;
  border-radius: 4px;
  height: 30px;
  width: 80px;
  border: 1px solid #ccc;
  margin: 5px;
}


/*projects page styles*/
#nav-project {
  position: fixed;
  top: 15%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
}
.projects .title{
  color: #ccc;
  float: left;
  width: 118px;
  margin-top: 11px;
  font-size: 0.9em;
}

.project{
  width: 80%;
  height: 430px;
  margin: 0 auto;
  padding: 150px 10px;
}
.project svg{
  width: 400;
  height: 400;
}

.project .img-thumb img{
  width: 45%;
  float: left;
  color: transparent;
  height: 320px;
}
.project .text {
  color: #666;
  width: 45%;
  padding: 15px 11px 0px 31px;
  float: left;
}
.text h3 {
  line-height: 0px;
}
.text p {
  margin-bottom: 5px;
}



/*media queries style code*/

@media screen and (max-width: 40em) {

  svg#me.gray {
    margin-top: 0px;
    width: 60%;
    height: 60%;
  }
  svg#iaminaki.gray {
    height: 40px;
  }
  h2.quote {
    width: 80%;
    font-size: 1.2em;
  }
  #menu {
    display:none;
  }
  .slicknav_menu {
    display:block;
    background: none;
  }
  .slicknav_menu a{
    color: #EC1561;
    background: white;
  }
  .slicknav_menu .slicknav_icon-bar {
    background-color: #EC1561;
    box-shadow: none;
  }

  /*resume media query styles*/
  .side-content {
      padding: 0px;
      width: 100%;
      text-align: center;
      margin: 0 auto;
      height: 190px;
  }
  .side-content ul {
    padding: 0px;
  }
  .contact-form {
    position: relative;
    z-index: 999;
    width: 100%;
    top: -258px;
    left: 16px;
  }
  #contactForm {
      position: relative;
      z-index: -999;
      width: 100%;
      margin: 0 auto;
      top: 0px;
      height: 267px;
  }
  .contact-input {
      width: 85%;
      margin-top: 0px;
      resize: none;
  }


}


