---
layout: page
---

{% include head4page.html %}


<div id="content">
	<div class="project project-line-left">
		<div class="info pull-left animated fadeIn">
			<h3>Acres</h3>
			<span class="description">This civic project raised awareness about the opportunities for aspiring farmers to start urban farms.</span><br>
			<a class="btn" target="_blank" href="http://www.acres.online">visit webapp</a><br>
			<span class="role"><strong>Role:</strong> developer</span><br>
			<span class="tools"><strong>Tools:</strong> angularJs and python flask</span><br>
		</div>
		<div class="project-image">
			<img class="pull-right animated fadeInRight" src="../images/acres.png" alt="">
		</div>
	</div>

	<div class="project project-line-right">
		<div class="info pull-right animated fadeIn">
			<h3>Color Chart </h3>
			<span class="description">This is a very cool tool for getting the most basic css colors, the one that can be called by name.</span><br>
			<a class="btn" target="_blank" href="http://ainsleywagoner.com/color-chart/">visit webapp</a><br>
			<span class="role"><strong>Role:</strong> developer</span><br>
			<span class="tools"><strong>Tools:</strong> angularJs and flash</span><br>
		</div>
		<div class="project-image">
			<img class="pull-left animated fadeInLeft" src="../images/color-chart.png" alt=""> 
		</div>
	</div>

	<div class="project project-line-left">
		<div class="info pull-left animated fadeIn">
			<h3>Farmers</h3>
			<span class="description">This tool recolect what urban farmers are producing and serve this data via a web and twilio app</span><br>
			<a class="btn" target="_blank" href="http://westsacramentourbanfarm.com/">visit webapp</a><br>
			<span class="role"><strong>Role:</strong> developer</span><br>
			<span class="tools"><strong>Tools:</strong> twilio and python flask</span><br>
		</div>
		<div class="project-image">
			<img class="pull-right animated fadeInRight" src="../images/farmers.png" alt="">
		</div>
	</div>

	<div class="project project-line-right">
		<div class="info pull-right animated fadeIn">
			<h3>Make Me Coffee</h3>
			<span class="description">Small coffee calculator for iOS which help you calculate the amount of coffee and water for drip, french press and pour over coffee.</span><br>
			<a class="btn" target="_blank" href="https://github.com/inaki/makecoffee">visit webapp</a><br>
			<span class="role"><strong>Role:</strong> developer</span><br>
			<span class="tools"><strong>Tools:</strong> swift and objective-c</span><br>
		</div>
		<div class="project-image">
			<img class="pull-left animated fadeInLeft" src="../images/makemecoffee.png" alt=""> 
		</div>
	</div>

	<div class="project project-line-left">
		<div class="info pull-left animated fadeIn">
			<h3>Cuadras de Albers</h3>
			<span class="description">This is a creative project which mixes two dimensional code drawing with sound.</span><br>
			<a class="btn" target="_blank" href="http://iaminaki.com/cuadras-howling/">visit webapp</a><br>
			<span class="role"><strong>Role:</strong> developer</span><br>
			<span class="tools"><strong>Tools:</strong> twoJs and howlingJs</span><br>
		</div>
		<div class="project-image">
			<img class="pull-right animated fadeInRight" src="../images/cuadras.png" alt="">
		</div>
	</div>


</div>



{% include jsWork.html %}
