---
layout: page
---

{% include head4page.html %}

<nav>
	 <ul id="menu nav-project" class="nav animated fadeInUp">
	 	<li><a href="#">home</a></li>
	 	<li data-menuanchor="project"><a href="#project">project a</a></li>
	 	<li data-menuanchor="project"><a href="#project/1">project b</a></li>
	 	<li data-menuanchor="project"><a href="#project/2">project c</a></li>
	 </ul>
</nav>

<div id="content">
	<div class="fl w-100-m w-50-l mbl">
		<a href="http://www.harmangrubisa.com/" target="_blank">
			<img src="img/harman.jpg" alt="Harman Grubiša" class="w-100 h-at">
		</a>
	</div>
	<div class="fl w-100-m w-50-l br bw2 b--lightest-orange phl mbl tr">
		<h3 class="f2 mvn fw5 bold">Harman Grubiša</h3>
		<h4 class="f3 mvm normal">Fashion. Fashion. Fashion.<br>Let's hang out with the cool kids.</h4>
		<a href="http://www.harmangrubisa.com/" target="_blank" class="btn btn--s">View Website</a>
		<p>
			<strong>Role:</strong> Development<br>
			<strong>Tools:</strong> Shopify, SASS
		</p>
	</div>
</div>



{% include jsWork.html %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.min.js"></script>
<script>
	$('#fullpage').fullpage({
    sectionSelector: '.vertical-scrolling',
    slideSelector: '.horizontal-scrolling',
    controlArrows: false,
    anchors: ['project']
    // more options here
});
</script>