---
layout: page
---

{% include head4page.html %}


<div id="content">
	<div class="project project-line-left">
		<div class="info pull-left">
			<h3>Acres</h3>
			<span class="description">This civic project raised awareness about the opportunities for aspiring farmers to start urban farms.</span><br>
			<a class="btn" href="http://www.acres.online">visit webapp</a><br>
			<span class="role"><strong>Role:</strong> developer</span><br>
			<span class="tools"><strong>Tools:</strong> angularJs and python flask</span><br>
		</div>
		<img class="pull-right" src="../images/acres.png" alt="">
	</div>

	<div class="project project-line-right">
		<div class="info pull-right">
			<h3>Color Chart </h3>
			<span class="description">This is a very cool tool for getting the most basic css colors, the one that can be called by name.</span><br>
			<a class="btn" href="http://ainsleywagoner.com/color-chart/">visit webapp</a><br>
			<span class="role"><strong>Role:</strong> developer</span><br>
			<span class="tools"><strong>Tools:</strong> angularJs and flash</span><br>
		</div>
		<img class="pull-left" src="../images/color-chart.png" alt=""> 
	</div>

	<div class="project project-line-left">
		<div class="info pull-left">
			<h3>Cuadras de Albers</h3>
			<span class="description">This is a creative project which mix two dimmensional code drawing and sound.</span><br>
			<a class="btn" href="http://iaminaki.com/cuadras-howling/">visit webapp</a><br>
			<span class="role"><strong>Role:</strong> developer</span><br>
			<span class="tools"><strong>Tools:</strong> twoJs and howlingJs</span><br>
		</div>
		<img class="pull-right" src="../images/cuadras.png" alt="">
	</div>


</div>



{% include jsWork.html %}
