---
layout: default
---

{% include head.html %}

<div class="content">
  {% include me.html %}
  {% include iaminaki.html %}
  <h2 class="quote">I <span class="emphasis">developep and design</span> apps. I write full stack code in python and js.<br> I just started do develop <span class="emphasis">Mobile Apps</span> and I am loving it.</h2>

 <ul class="nav animated fadeInUp">
 	<li onclick="goToWork()">projects</a></li>
 	<li onclick="goToAbout()">about me</a></li>
 	<li onclick="goToResume()">resume</a></li>
 	<li onclick="goToContact()">contact</a></li>
 </ul>

</div>

{% include js.html %}