---
layout: default
---

{% include head.html %}

<div class="content">
  {% include header.html %}
  <h2 class="quote">I am a <span class="android">developer</span>, I full stack code in python and javascript <br> and exciting about my new passion, <span class="android">Android</span> </h2>

 <ul class="nav animated fadeInUp">
 	<li onclick="goToWork()">projects</a></li>
 	<li onclick="goToAbout()">who I am</a></li>
 	<li onclick="goToResume()">resume</a></li>
 	<li onclick="goToContact()">contact</a></li>
 </ul>

</div>

{% include js.html %}