// Susy setup ----------------------
$total-columns          : 12;
$column-width           : 4rem;
$gutter-width           : 1rem;
$grid-padding           : $gutter-width;

@include border-box-sizing;

$small                  : 30em;
$medium                 : 47em;
$large                  : 75em;

// Content ------------------------
.content {
  margin: {
    top: 15%;
  }
  .layout {
    @include container;
    padding: 3%;
  } // layout
}

// Footer -------------------------
footer {
  background: #ccc;
} // footer
