$font-primary           :   'Roboto', sans-serif;
$font-base-color        :   darkgray;
$font-emphasis          :   gray;
$font-quote             :   silver;

$color-primary          :   #F1246E;
$color-border-primary   :   gray;

$color-background       :   #F1246E;
$color-main             :   #F1246E;
$color-active           :   #FFF;
$color-link             :   #FFF;

$button-height          :   27px;
$button-width           :   35px;
