// Color variables with descriptive names
$white                  :   #fff;
$black                  :   #000;
$grey                   :   #808080;
$darkgrey               :   #a9a9a9;
$razzmatazz             :   #F1246E;


$font-primary           :   'Roboto', sans-serif;
$font-base-color        :   $darkgrey;
$font-emphasis          :   $grey;
$font-quote             :   lighten($font-base-color, 5%);

$color-primary          :   $razzmatazz;
$color-border-primary   :   $grey;

$color-active           :   $white;
$color-link             :   $white;

$button-height          :   27px;
$button-width           :   35px;
