// Color variables with descriptive names
$white                  :   #fff;
$black                  :   #000;
$gray                   :   #808080;
$darkgray               :   #a9a9a9;
$razzmatazz             :   #F1246E;


$font-primary           :   'Roboto', sans-serif;
$font-base-color        :   $darkgray;
$font-emphasis          :   $gray;
$font-quote             :   silver;

$color-primary          :   $razzmatazz;
$color-border-primary   :   $gray;

$color-background       :   #F1246E;
$color-main             :   #F1246E;
$color-active           :   #FFF;
$color-link             :   #FFF;

$button-height          :   27px;
$button-width           :   35px;
