
<svg xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" id="cfa" width="159px" viewBox="0 0 159 85" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="85px">
<!--Generator: Sketch 3.3.3 (12081) - http://www.bohemiancoding.com/sketch-->

<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
<g id="cfalogo" sketch:type="MSArtboardGroup" stroke="#979797">
<path d="M34.7128906,33.7041016 L15.9199219,43.9316406 L34.7128906,53.6474609" id="Path-41" stroke-width="4" sketch:type="MSShapeGroup"/>
<path d="M147.712891,33.7041016 L128.919922,43.9316406 L147.712891,53.6474609" id="Path-41-Copy" stroke-width="4" sketch:type="MSShapeGroup" transform="translate(138.316406, 43.675781) scale(-1, 1) translate(-138.316406, -43.675781) "/>
<path d="M121.410156,27.7958984 L107.177734,58.7685547" id="Path-43" stroke-width="4" sketch:type="MSShapeGroup"/>
<path d="M44.4707031,27.5898438 L97.2236328,27.5898438 L97.2236328,58.0732422 L44.4707031,58.0732422 L44.4707031,27.5898438 Z" id="Path-44" stroke-width="3" sketch:type="MSShapeGroup"/>
<path d="M96.5,35 L47.5,35" id="Line" stroke-width="4" stroke-linecap="square" sketch:type="MSShapeGroup"/>
<path d="M69.5,39 L45.5,39" id="Line-Copy-3" stroke-width="4" stroke-linecap="square" sketch:type="MSShapeGroup"/>
<path d="M69.5,30.7041016 L45.5,30.7041016" id="Line-Copy-4" stroke-width="4" stroke-linecap="square" sketch:type="MSShapeGroup"/>
<path d="M69.5,33.7041016 L45.5,33.7041016" id="Line-Copy-5" stroke-width="4" stroke-linecap="square" sketch:type="MSShapeGroup"/>
<path d="M96.5,43 L46.5,43" id="Line-Copy" stroke-width="4" stroke-linecap="square" sketch:type="MSShapeGroup"/>
<path d="M96.5,51 L46.5,51" id="Line-Copy-2" stroke-width="4" stroke-linecap="square" sketch:type="MSShapeGroup"/>
</g>
</g>
</svg>
