<!-- add class="white" to the svg!! -->

<svg class="white" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" id="contactForm" width="323px" viewBox="0 0 323 250" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="250px">
<!--Generator: Sketch 3.3.3 (12081) - http://www.bohemiancoding.com/sketch-->
<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
<g id="contactForm" sketch:type="MSArtboardGroup" stroke="#979797">
<rect id="Rectangle-4" sketch:type="MSShapeGroup" x="18" y="13" width="288" height="34" rx="6"/>
<rect id="Rectangle-4-Copy" sketch:type="MSShapeGroup" x="17.5" y="90.5" width="288" height="140" rx="6"/>
</g>
</g>
</svg>
