<!-- add class="white" to the svg!! -->

<svg class="white" width="250px" height="250px" viewBox="0 0 250 250" version="1.1" id="contact" onclick="goToContact()" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">

    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="contact" sketch:type="MSArtboardGroup" stroke="#979797">
            <path d="M35.5,98.5 L116.5,104.5" id="Line" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
            <path d="M126.5,112.5 L144.5,166.5" id="Line" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
            <path d="M88.1176758,130.027344 L216.5,71.5" id="Line" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
            <path d="M68.5,120.5 L216.5,71.5" id="Line" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
            <path d="M33.84375,98.4726562 L217.236328,71.0234375 L144.564453,166.427734 L87.9355469,130.537109 L90.3886719,173.396484 L68.3300781,120.484375 L33.84375,98.4726562 Z" id="Path-11" sketch:type="MSShapeGroup"></path>
            <path d="M91.1582031,175.014648 L119.5,150.5" id="Line" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
        </g>
    </g>
</svg>