
<svg xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" id="farmstand" width="350px" viewBox="0 0 350 350" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="350px">

<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
<g id="farmstand" sketch:type="MSArtboardGroup" stroke="#979797">
<rect id="Rectangle-1" sketch:type="MSShapeGroup" x="35.6237543" y="46.6742353" width="279.599763" height="256.651529" rx="2"/>
<rect id="Rectangle-8" sketch:type="MSShapeGroup" x="59" y="125" width="29" height="29"/>
<rect id="Rectangle-8" sketch:type="MSShapeGroup" x="59" y="165" width="29" height="29"/>
<rect id="Rectangle-8" sketch:type="MSShapeGroup" x="59" y="205" width="29" height="29"/>
<rect id="Rectangle-8" sketch:type="MSShapeGroup" x="59" y="245" width="29" height="29"/>
<path d="M35.6237543,63.1742353 L313.528974,63.1742353" id="Line" stroke-linecap="square" sketch:type="MSShapeGroup"/>
<path d="M36.5,101.5 L314.5,101.5" id="Line" stroke-linecap="square" sketch:type="MSShapeGroup"/>
<path id="Path-69" sketch:type="MSShapeGroup"/>
<path d="M238.5,168.5 L283.5,168.5" id="Line" stroke-linecap="square" sketch:type="MSShapeGroup"/>
<path d="M238.5,178.5 L283.5,178.5" id="Line" stroke-linecap="square" sketch:type="MSShapeGroup"/>
<path d="M238.5,188.5 L283.5,188.5" id="Line" stroke-linecap="square" sketch:type="MSShapeGroup"/>
<path d="M238.5,198.5 L283.5,198.5" id="Line" stroke-linecap="square" sketch:type="MSShapeGroup"/>
<path d="M238.5,208.5 L283.5,208.5" id="Line" stroke-linecap="square" sketch:type="MSShapeGroup"/>
<path d="M98.5,130.5 L131.5,130.5" id="Line" stroke-linecap="square" sketch:type="MSShapeGroup"/>
<path d="M98.5,140.5 L170.5,140.5" id="Line" stroke-linecap="square" sketch:type="MSShapeGroup"/>
<path d="M98.5,170.5 L131.5,170.5" id="Line" stroke-linecap="square" sketch:type="MSShapeGroup"/>
<path d="M98.5,180.5 L170.5,180.5" id="Line" stroke-linecap="square" sketch:type="MSShapeGroup"/>
<path d="M98.5,210.5 L131.5,210.5" id="Line" stroke-linecap="square" sketch:type="MSShapeGroup"/>
<path d="M98.5,220.5 L170.5,220.5" id="Line" stroke-linecap="square" sketch:type="MSShapeGroup"/>
<path d="M98.5,250.5 L131.5,250.5" id="Line" stroke-linecap="square" sketch:type="MSShapeGroup"/>
<path d="M98.5,260.5 L170.5,260.5" id="Line" stroke-linecap="square" sketch:type="MSShapeGroup"/>
<path debug="modified-ellipse" d="M43.24920237,56.0224698A2.54181603,2.5495185 0,1,1 48.33283443,56.0224698A2.54181603,2.5495185 0,1,1 43.24920237,56.0224698"/>
<path debug="modified-ellipse" d="M53.41646647,56.0224698A2.54181603,2.5495185 0,1,1 58.50009853,56.0224698A2.54181603,2.5495185 0,1,1 53.41646647,56.0224698"/>
<path debug="modified-ellipse" d="M63.58373057000001,56.0224698A2.54181603,2.5495185 0,1,1 68.66736263000001,56.0224698A2.54181603,2.5495185 0,1,1 63.58373057000001,56.0224698"/>
<path debug="modified-ellipse" d="M242,139.5A19.5,19.5 0,1,1 281,139.5A19.5,19.5 0,1,1 242,139.5"/>
</g>
</g>
</svg>
