<svg xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" width="250px" id="work" onclick="goToWork()" viewBox="0 0 250 250" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="250px">
<!--Generator: Sketch 3.3.3 (12081) - http://www.bohemiancoding.com/sketch-->
<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
<g id="work" sketch:type="MSArtboardGroup" stroke="#979797">
<rect id="Rectangle-1" sketch:type="MSShapeGroup" x="43" y="50" width="165" height="151" rx="2"/>
<rect id="Rectangle-2" sketch:type="MSShapeGroup" x="55.5" y="68.5" width="133" height="48" rx="2"/>
<rect id="Rectangle-3" sketch:type="MSShapeGroup" x="137.5" y="125.5" width="51" height="43" rx="2"/>
<path d="M43,61 L207,61" id="Line" stroke-linecap="square" sketch:type="MSShapeGroup"/>
<path d="M56,125 L130,125" id="Line" stroke-linecap="square" sketch:type="MSShapeGroup"/>
<path d="M56,166 L130,166" id="Line-Copy" stroke-linecap="square" sketch:type="MSShapeGroup"/>
<path d="M56,135 L130,135" id="Line-Copy-3" stroke-linecap="square" sketch:type="MSShapeGroup"/>
<path d="M56,145 L130,145" id="Line-Copy-2" stroke-linecap="square" sketch:type="MSShapeGroup"/>
<path d="M56,155 L130,155" id="Line-Copy-7" stroke-linecap="square" sketch:type="MSShapeGroup"/>
<path d="M56,183 L188,183" id="Line" stroke-linecap="square" sketch:type="MSShapeGroup"/>
<path debug="modified-ellipse" d="M47.5,55.5A1.5,1.5 0,1,1 50.5,55.5A1.5,1.5 0,1,1 47.5,55.5"/>
<path debug="modified-ellipse" d="M53.5,55.5A1.5,1.5 0,1,1 56.5,55.5A1.5,1.5 0,1,1 53.5,55.5"/>
<path debug="modified-ellipse" d="M59.5,55.5A1.5,1.5 0,1,1 62.5,55.5A1.5,1.5 0,1,1 59.5,55.5"/>
</g>
</g>
</svg>
