---
layout: page
---

{% include head4page.html %}

<div id="about">
	<div class="content">

	<div class="intro">
		<h2>Nice to meeet you</h2>
	<p>
		<span class="first">I am a passionate dude, my element is fire and sign sagitarius.</span> <br>
		<span class="segundo">My favorite hobby is building stuff, I code because is fun.</span> <br>
		<span class="tercero">Interested in the design of things, from apps to sewing machines.</span>
	</p>
	</div>

	<div class="cool-stuff">
		<h3>Cool stuff I do:</h3>
		
		<div class="cool-thing">
			<div class="image-data4change">{% include data4change.html %}</div>
			<h4>Data 4 Change</h4>
			<p>I have been from a pool of hundreds of canditate to join an awesome group of designers, coders and human right data visualization experts in Beirut to build data visualizations around data related to human rights.</p>
		</div>

		<div class="cool-thing">
			<div class="image-nenas">{% include nenas.html %}</div>
			<h4>Las Nenas Code Club</h4>
			<p>Every saturday morning I gather a group of young hispanic girls to teach them computer sciences and design skills.</p>
		</div>

		<div class="cool-thing">
			<div class="image-plane">{% include plane.html %}</div>
			<h4>Code After Hours</h4>
			<p>Last year we contact few start-ups in Silicon Valley to send few high schoolers to work the whole summer shipping code and experimenting the tech world for the first time. After this happen, we work with these kids to help themo organize more student wanting to learn how code.</p>
		</div>
	</div>



<!-- 
	Ni&ntilde;as Code Club (2015 - present) <br>

Every Saturday morning, I co-teach a group of kids (~ages 9-12) about basic HTML, CSS, and design. Many of these kids are first generation Americans, whose parents immigrated from Peru and want their sons & daughters to have a leg up with technology. It’s important to me (and fun for me!) to share what I know about coding and design, and help further the future of young latinos.
<br>

Beirut <br>
“hand-chosen from the world’s best technologists.”  -->
</div>


</div>


{% include jsWork.html %}
