@import url(https://fonts.googleapis.com/css?family=Roboto:300italic);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 4, ../components/sass/_base.scss */
body {
  font-size: 16px;
  font-family: "Roboto", sans-serif; }

/* line 8, ../components/sass/_base.scss */
a {
  color: #F1246E;
  text-decoration: none; }

/* line 21, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.9/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media only screen and (max-width: 320px) {
  /* line 14, ../components/sass/_layout.scss */
  .content {
    width: 100%;
    margin-top: 15%; } }
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 14, ../components/sass/_layout.scss */
  .content {
    width: 90%;
    margin: 5% auto; } }
@media only screen and (min-width: 1024px) {
  /* line 14, ../components/sass/_layout.scss */
  .content {
    width: 52%;
    margin: 5% auto; } }

/* line 21, ../components/sass/_layout.scss */
footer {
  background: #ccc; }

/* line 2, ../components/sass/_modules.scss */
.intro-animation {
  text-align: center; }
  /* line 4, ../components/sass/_modules.scss */
  .intro-animation svg {
    width: 100%; }
  /* line 7, ../components/sass/_modules.scss */
  .intro-animation h2 {
    width: 85%;
    color: silver;
    font-size: 1.4rem;
    line-height: 1.9rem;
    margin: 0 auto; }
    /* line 13, ../components/sass/_modules.scss */
    .intro-animation h2 .emphasis {
      color: gray; }

/* line 20, ../components/sass/_modules.scss */
.button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease; }
  /* line 31, ../components/sass/_modules.scss */
  .button_container:hover {
    opacity: .7; }
  /* line 36, ../components/sass/_modules.scss */
  .button_container.active .top {
    transform: translateY(10px) translateX(0) rotate(45deg);
    background: #FFF; }
  /* line 40, ../components/sass/_modules.scss */
  .button_container.active .middle {
    opacity: 0;
    background: #FFF; }
  /* line 45, ../components/sass/_modules.scss */
  .button_container.active .bottom {
    transform: translateY(-10px) translateX(0) rotate(-45deg);
    background: #FFF; }
  /* line 51, ../components/sass/_modules.scss */
  .button_container span {
    background: #F1246E;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    transition: all .35s ease;
    cursor: pointer; }
    /* line 62, ../components/sass/_modules.scss */
    .button_container span:nth-of-type(2) {
      top: 10px; }
    /* line 66, ../components/sass/_modules.scss */
    .button_container span:nth-of-type(3) {
      top: 20px; }

/* line 72, ../components/sass/_modules.scss */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, width .35s;
  z-index: 50; }
  /* line 83, ../components/sass/_modules.scss */
  .overlay:before {
    content: '';
    background: #F1246E;
    left: -55%;
    top: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    transition: left .35s ease; }
  /* line 94, ../components/sass/_modules.scss */
  .overlay:after {
    content: '';
    background: #F1246E;
    right: -55%;
    top: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    transition: all .35s ease; }
  /* line 105, ../components/sass/_modules.scss */
  .overlay.open {
    opacity: .9;
    visibility: visible;
    height: 100%; }
    /* line 110, ../components/sass/_modules.scss */
    .overlay.open:before {
      left: 0; }
    /* line 114, ../components/sass/_modules.scss */
    .overlay.open:after {
      right: 0; }
    /* line 118, ../components/sass/_modules.scss */
    .overlay.open li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s; }
      /* line 122, ../components/sass/_modules.scss */
      .overlay.open li:nth-of-type(2) {
        animation-delay: .45s; }
      /* line 125, ../components/sass/_modules.scss */
      .overlay.open li:nth-of-type(3) {
        animation-delay: .55s; }
      /* line 128, ../components/sass/_modules.scss */
      .overlay.open li:nth-of-type(4) {
        animation-delay: .65s; }
  /* line 133, ../components/sass/_modules.scss */
  .overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-align: center;
    z-index: 100; }
  /* line 144, ../components/sass/_modules.scss */
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%; }
    /* line 152, ../components/sass/_modules.scss */
    .overlay ul li {
      display: block;
      height: 35%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0; }
      /* line 160, ../components/sass/_modules.scss */
      .overlay ul li a {
        display: block;
        position: relative;
        color: #FFF;
        text-decoration: none;
        overflow: hidden; }
        /* line 167, ../components/sass/_modules.scss */
        .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
          width: 100%; }
        /* line 173, ../components/sass/_modules.scss */
        .overlay ul li a:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: #FFF;
          transition: .35s; }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }
/* line 201, ../components/sass/_modules.scss */
.project {
  line-height: 2rem;
  height: 25rem;
  margin: 0 auto;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px; }
  @media only screen and (max-width: 320px) {
    /* line 201, ../components/sass/_modules.scss */
    .project {
      width: 100%; } }
  @media only screen and (min-width: 321px) and (max-width: 1023px) {
    /* line 201, ../components/sass/_modules.scss */
    .project {
      width: 90%; } }
  @media only screen and (min-width: 1024px) {
    /* line 201, ../components/sass/_modules.scss */
    .project {
      width: 750px; } }
  @media only screen and (max-width: 320px) {
    /* line 214, ../components/sass/_modules.scss */
    .project .info-right, .project .info-left {
      width: 100%; } }
  @media only screen and (min-width: 321px) and (max-width: 1023px) {
    /* line 214, ../components/sass/_modules.scss */
    .project .info-right, .project .info-left {
      width: 50%; } }
  @media only screen and (min-width: 1024px) {
    /* line 214, ../components/sass/_modules.scss */
    .project .info-right, .project .info-left {
      width: 50%;
      height: 285px; } }
  /* line 219, ../components/sass/_modules.scss */
  .project .info-right {
    float: right; }
    @media only screen and (min-width: 1024px) {
      /* line 219, ../components/sass/_modules.scss */
      .project .info-right {
        border-right: 3px solid #F1246E;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-left: 5px; } }
    @media only screen and (min-width: 321px) and (max-width: 1023px) {
      /* line 219, ../components/sass/_modules.scss */
      .project .info-right {
        line-height: 1.5rem;
        padding-left: 1rem; } }
  /* line 230, ../components/sass/_modules.scss */
  .project .info-left {
    float: left; }
    @media only screen and (min-width: 1024px) {
      /* line 230, ../components/sass/_modules.scss */
      .project .info-left {
        border-left: 3px solid #F1246E;
        padding-left: 1rem; } }
    @media only screen and (min-width: 321px) and (max-width: 1023px) {
      /* line 230, ../components/sass/_modules.scss */
      .project .info-left {
        line-height: 1.5rem; } }
  /* line 238, ../components/sass/_modules.scss */
  .project h3 {
    padding-top: 0.5rem;
    font-weight: bold;
    font-size: 1.5rem; }
    @media only screen and (max-width: 320px) {
      /* line 238, ../components/sass/_modules.scss */
      .project h3 {
        border-bottom: 1px solid #cdcdcd; } }
    @media only screen and (min-width: 1024px) {
      /* line 238, ../components/sass/_modules.scss */
      .project h3 {
        border: none; } }
  /* line 248, ../components/sass/_modules.scss */
  .project .btn {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #F1246E;
    min-width: 100%;
    padding: 10px 90px;
    line-height: 5rem; }
  /* line 261, ../components/sass/_modules.scss */
  .project img {
    width: 100%; }
    @media only screen and (max-width: 320px) {
      /* line 261, ../components/sass/_modules.scss */
      .project img {
        width: 100%; } }
    @media only screen and (min-width: 321px) and (max-width: 1023px) {
      /* line 261, ../components/sass/_modules.scss */
      .project img {
        width: 50%; } }
    @media only screen and (min-width: 1024px) {
      /* line 261, ../components/sass/_modules.scss */
      .project img {
        width: 45%; } }

/* line 269, ../components/sass/_modules.scss */
.resume {
  padding: 20px; }
  /* line 271, ../components/sass/_modules.scss */
  .resume .resume-header {
    line-height: 2rem;
    margin-bottom: 2rem;
    text-align: center; }
    /* line 275, ../components/sass/_modules.scss */
    .resume .resume-header img.yo {
      width: 170px;
      -moz-border-radius: 50rem;
      -webkit-border-radius: 50rem;
      border-radius: 50rem; }
    /* line 280, ../components/sass/_modules.scss */
    .resume .resume-header ul li {
      display: inline-block; }
      /* line 282, ../components/sass/_modules.scss */
      .resume .resume-header ul li a {
        color: #f4548e;
        font-size: 3rem;
        padding: 10px; }
    /* line 289, ../components/sass/_modules.scss */
    .resume .resume-header h2 {
      font-size: 1.7rem; }
  /* line 293, ../components/sass/_modules.scss */
  .resume .resume-content {
    line-height: 1.5rem; }
    /* line 295, ../components/sass/_modules.scss */
    .resume .resume-content h2 {
      color: gray;
      font-size: 1.7rem;
      height: 3rem; }
    /* line 300, ../components/sass/_modules.scss */
    .resume .resume-content b {
      color: black;
      font-weight: bolder; }
    /* line 304, ../components/sass/_modules.scss */
    .resume .resume-content .right {
      float: right; }
    /* line 307, ../components/sass/_modules.scss */
    .resume .resume-content .skill {
      padding: 10px 20px;
      background: none;
      border: 1px solid #cdcdcd;
      margin: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px; }
      @media only screen and (max-width: 320px) {
        /* line 307, ../components/sass/_modules.scss */
        .resume .resume-content .skill {
          width: 45%; } }
      @media only screen and (min-width: 321px) and (max-width: 1023px) {
        /* line 307, ../components/sass/_modules.scss */
        .resume .resume-content .skill {
          width: 30%; } }
      @media only screen and (min-width: 1024px) {
        /* line 307, ../components/sass/_modules.scss */
        .resume .resume-content .skill {
          width: 31%; } }

/* line 320, ../components/sass/_modules.scss */
form {
  margin: 0 auto; }
  @media only screen and (max-width: 320px) {
    /* line 320, ../components/sass/_modules.scss */
    form {
      width: 85%;
      margin-top: 30%; } }
  @media only screen and (min-width: 321px) and (max-width: 1023px) {
    /* line 320, ../components/sass/_modules.scss */
    form {
      width: 50%;
      margin-top: 25%; } }
  @media only screen and (min-width: 1024px) {
    /* line 320, ../components/sass/_modules.scss */
    form {
      width: 50%;
      margin-top: 25%; } }
  /* line 325, ../components/sass/_modules.scss */
  form input, form textarea {
    min-height: 2rem;
    width: 100%;
    padding: 5px;
    margin-bottom: 1rem;
    border: 1px solid #F1246E;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
  /* line 333, ../components/sass/_modules.scss */
  form button {
    float: right;
    background: #F1246E;
    color: white;
    border: none;
    padding: 10px 25px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
