---
layout: page
---

<div class="content">
	{% include head4page.html %}

  <div class="resume-content">
  
    <div class="profile-pic">
      <img src="../images/yo.jpg" alt="" class="yo animated fadeInDown"> 
      <ul>
        <li>{% include github.html %}</li>
        <li>{% include linkedin.html %}</li>
      </ul>
      <h2>I&ntilde;aki Aranzadi</h2>
    </div>
  </div>

	<div class="resume-content animated fadeInUp">

	  <!-- <a href="../assets/resume.pdf" download="FileName">Download it!</a> -->
		<!-- <a onclick="goToHome()">index</a> -->
	<h2>RECENT EXPERIENCE</h2>
      <p class="section-tagline">Recent Experience</p>
      <!-- Recent Experience: Product Design @ Pinterest-->
      <p>
        <b>Code for America</b>
        <span class="right"><i>2015-present</i></span>
        <br>
        <b>Full Stack Developer</b>
        <span class="right"><i>San Francisco, CA</i></span>
        <br>
        <br>
        <p class="resume-description">
          I was part of a team of designers and developers who partner with the city government of West Sacramento. Our gaol was to improve the possibilities for existing and new entry farmers to start growing food in urban areas. We develop few simple web apps in which my task was to design and develop the frontend in one these and fullstack the other.
        </p>
        <br>
        <button class="skill">Python</button>
        <button class="skill">Javascript</button>
        <button class="skill">Flask</button>
        <button class="skill">Twillio</button>
        <button class="skill">AngularJS</button>
        <button class="skill">LeafletJS</button>
        <button class="skill">Heroku</button>
        <button class="skill">PostgreSQL</button>
      </p>
      <br>
      <!-- Recent Experience: Product Designer -->
      <p>
        <b>i-comm tech</b>
        <span class="right"><i>2013-2015</i></span>
        <br>
        <b>Front End Developer</b>
        <span class="right"><i>San Francisco, CA</i></span>
        <br>
        <br>
        <p class="resume-description">
          My primary task was to develop and design websites and apps for our clients, as well as leading the whole process of development the full version of some enterprise apps. Besides my technical tasks, I start and develop from idea to execution the first maker-coworking space of Puerto Rico, <a href="http://www.engine-4.com" target="_blank">Engine 4</a> in the city of Bayam&oacuten.
        </p>
        <br>
        <button class="skill">Javascript</button>
        <button class="skill">CSS</button>
        <button class="skill">HTML</button>
        <button class="skill">AngularJS</button>
        <button class="skill">Appcelerator</button>
      </p>
      <br>
	</div>
	
</div>


{% include jsWork.html %}