---
layout: page
---

<div class="content">
	{% include head4page.html %}

  <div class="resume-content">
  
    <div class="profile-pic">
      <img src="../images/yo.jpg" alt="" class="yo animated fadeInDown"> 
      <ul>
        <li onclick="goToGithub()">{% include github.html %}</li>
        <li onclick="goToLinkedin()">{% include linkedin.html %}</li>
      </ul>
      <h2 class="my-name">I&ntilde;aki Aranzadi</h2>
    </div>
  </div>

	<div class="resume-content animated fadeInUp">

	  <!-- <a href="../assets/resume.pdf" download="FileName">Download it!</a> -->
	<h2>Recent Experience</h2>
      
      <p>
        <b>Code for America</b>
        <span class="right"><i>2015-present</i></span>
        <br>
        <b>Full Stack Developer</b>
        <span class="right"><i>San Francisco, CA</i></span>
        <br>
        <br>
        <p class="resume-description">
          I worked with the government of West Sacramento to empower citizen urban farmers with technology.
        </p>
        <p>
          Alongside a designer and a developer, our team conducted research in the community to develop 3 web applications. Our applications <a href="http://acres.online">Acres</a> and <a href="http://westsacramentourbanfarm.com/">Farmer's</a> raised awareness about the opportunities for current and aspiring farmers to start growing food in the city. For <a href="http://westsacramentourbanfarm.com/">Farmer's</a> I was responsible for the full-stack development, and on <a href="http://acres.online">Acres</a> I did the design and front-end development.
        </p>
        <br>
        <button class="skill">Python</button>
        <button class="skill">Javascript</button>
        <button class="skill">Flask</button>
        <button class="skill">Twillio</button>
        <button class="skill">AngularJS</button>
        <button class="skill">LeafletJS</button>
        <button class="skill">Heroku</button>
        <button class="skill">PostgreSQL</button>
      </p>
      <br>
      
      <p>
        <b>i-comm tech</b>
        <span class="right"><i>2013-2015</i></span>
        <br>
        <b>Front End Developer</b>
        <span class="right"><i>San Francisco, CA</i></span>
        <br>
        <br>
        <p class="resume-description">
          At i-comm I served in 2 capacities: I was the sole designer and front-end developer, as well as an ambassador for the company in the local tech scene.
        </p>
        <p>
          I attended client pitch meetings and prototyped, then built applications for their needs. Additionally, I worked with the company's CEO to establish the first maker-coworking space in Puerto Rico (<a href="http://www.engine-4.com/">Engine 4</a>), turning unused office space into a daily hub for makers and technologists.
        </p>
        <br>
        <button class="skill">Javascript</button>
        <button class="skill">CSS</button>
        <button class="skill">HTML</button>
        <button class="skill">AngularJS</button>
        <button class="skill">Appcelerator</button>
      </p>
      <br>

    <h2>Past Experience</h2>

      <p>
        <b>Puerto Rico Education Department and BrainStrong, Inc</b>
        <span class="right"><i>2013-2014</i></span>
        <br>
        <b>Psychologist and Technology Coach</b>
        <span class="right"><i>Santa Isabel, PR</i></span>
        <br>
        <br>
        <p class="resume-description">
          I designed workshops for teachers in low-income public schools to help them better understand and implement technology in the classroom.
        </p>
        <br>
        <button class="skill">Coaching</button>
        <button class="skill">C language</button>
        <button class="skill">Robotics</button>
        <button class="skill">Scratch</button>
      </p>
      <br>

      <p>
        <b>Puerto Rico Health Department</b>
        <span class="right"><i>2008-2013</i></span>
        <br>
        <b>Clinical Psychologist</b>
        <span class="right"><i>Bayam&oacute;n, PR</i></span>
        <br>
        <br>
        <p class="resume-description">
          I lead a multidisciplinary team of health professionals to evaluate and give treatment to mental health patients.
        </p>
        <br>
        <button class="skill">Assestment</button>
        <button class="skill">DSM-IV</button>
      </p>
      <br>
	</div>
	
</div>


{% include jsWork.html %}