@import url(https://fonts.googleapis.com/css?family=Roboto:300italic);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

body {
  font-size: $base-font-size;
  font-family: $font-primary;
}
a {
  color: $color-primary;
  text-decoration: none;
}
