---
layout: page
---

<div class="content projects">
	{% include head4page.html %}

	<div class="title">
		<h3>projects</h3>
		<a href="">back home</a>
	</div>
	
	<div class="project-wrapper">
		<div class="project">
			<div class="img-thumb">
				{% include markets.html %}
			</div>
			<div class="text animated fadeInUp">
				<h3>Markets App</h3>
				<p>Market's App help you find places where you can find fresh local food. Is open source and design to be easy redeployable in any city. The backend is a simple google sheet so no costly maintainance is needed.</p>
				<a href="">CLICK HERE TO READ MORE</a>
			</div>
		</div>

		<div class="project">
			<div class="img-thumb">
				{% include farmstand.html %}
			</div>
			<div class="text animated fadeInUp">
				<h3>FarmStand App</h3>
				<p>Now "Urban Farmers" create awareness around the communities they operate. You will be able to know what they are producing, selling prices and time to buy. It integrates a small sms app to improve accesibility between people who lack of data on their phones.</p>
			</div>
		</div>

		<div class="project">
			<div class="img-thumb">
				{% include acres.html %}
			</div>
			<div class="text animated fadeInUp">
				<h3>Acres App</h3>
				<p>This smart tool help city governments to identify and share data about under utilized land within the city which is suitable for farming. It also help aspiring farmers to find the land the need faster and requested from the city or third parties.</p>
			</div>
		</div>
	</div>
	
</div>

{% include jsWork.html %}